body { 
    text-align:center; /* for IE */ 
}

div#wrapper { 
    text-align:left; /* reset text alignment */     
    margin:0 auto; /* for the rest */ 
    margin-bottom:1em;
    border:2px solid #ddd;
    width:790px;
}
div#head{
    border-bottom: 2px solid #ddd;
    text-align: center;
}
div#contenent{
    border-left: 2px solid #ddd;
    padding-left: 10px;
    min-height: 500px;
}
div.content_center{
    text-align: center;
}

.center{
    text-align: center;
}



#photos{
    height:110px;
    width:100%;
    padding:10px 0;
    overflow:auto;
 }
img.photo{
    border:5px solid #ddd;
    float:left;
    display:inline;
    margin-right:10px;
 }