<h2>I tuoi messaggi</h2>
<table>
  <tr>
    <th>Riferimento</th>
    <th>Oggetto</th>
    <th>Data</th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
    <% if message.read? %>
      <tr>
    <% else %>
      <tr style="background: indianred;">
    <% end %>
    <td><%= House.find(message.house_id).titolo %></td>
    <td><%= message.object %></td>
    <td><%= message.created_at.try( :strftime, "Il %d/%m/%y alle %H:%M") %></td>
    <td><%= link_to 'Leggi', admin_message_path(message) %></td>
  </tr>
  <% end %>
</table>

