<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>Attenzione verificare i dati inseriti.</h2>
    <p></p>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>