<h2>Pagina Info & Ringraziamenti</h2>
<div class="text-left">
  
  <table>
    <tr>
      <th colspan="2">Sito web realizzato da Luigi Scagnet con framework Ruby on Rails.</th>      
    </tr>
    <tr>
      <td><img src="http://rubyonrails.org/images/rails.png" alt="ror logo" /></td>
      <td>Ruby on Rails</td>      
    </tr>
    <tr>
      <td><img src="http://www.immobiliare.it/img2/logo.gif" alt="" /></td>
      <td>Gli annunci sono stati presi da Immobiliare.it</td>      
    </tr>
    
    <tr>
      <td><img src="http://ruby.railstutorial.org/images/layout/logo.png?1335457917" alt="" /></td>
      <td>Il sito http://ruby.railstutorial.org/ ha fornito grande aiuto per imparare ad utilizzare il framework</td>      
    </tr>
  </table>
</div>

