<h1>Elenco completo case</h1>
  <table>
    <tr>
      <th>Titolo</th>
      <th>Descrizione</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @houses.each do |house| %>
    <tr>
      <td><%= house.titolo %></td>
      <td><%= house.descrizione %></td>
      <td><%= link_to 'Show', admin_house_path(house) %></td>
      <td><%= link_to 'Edit', edit_admin_house_path(house) %></td>
      
    </tr>
  <% end %>
  </table>
<br />